
body {
    margin: 80px 330px 0;
    background-color: steelblue;
}

#remplir {
    width: 300px;
    height: 60px;
    margin-bottom: 20px;
}

#valider {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    height: 60px;
    width: 180px;
}

#lien {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    height: 60px;
}
